body {
  background-color: #C5E4E7;
  font-family: 'Space Mono', monospace;
}

@media screen and (max-width: 390px) {
  body {
    margin: 0;
    height: 933px;
  }
}

p {
  color: hsl(184, 14%, 56%);
}

i, input {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 24px;
  text-align: right;
}

input {
  cursor: pointer;
}

i {
  opacity: 50%;
  padding: 0 10px;
}

h1 {
  color: #476A6C;
  line-height: 12px;
  letter-spacing: 10px;
  font-size: 1.5rem;
  text-align: center;
}

#titleDiv {
  width: 1340px;
  height: 80px;
  padding: 2px;
  margin-top: 130px;
}

/* On screens that are 390px wide or less */
@media screen and (max-width: 390px) {
  #titleDiv {
    width: auto;
    padding: 2px;
    margin-top: 10px;
    text-align: center;
  }
}

#billInput, #noOfPeople {
  width: 372px;
  height: 46px;
  background-color: #F3F8FB;
  border-color: #57A69B;
  border-width: 2px;
  box-shadow: none;
  border-style: solid;
  border-radius: 5px;
}

@media screen and (max-width: 390px) {
  #billInput, #noOfPeople {
    width: 348px;
    height: 46px;
margin: auto;
  }
}





#tipInput {
  width: 40px;
}

#billTitle {
  margin-bottom: 4px;
}

#selectTipTitle {
  margin-top: 48px;
  margin-bottom: 8px;
}

#mainDiv {
  margin-top: 70px;
  margin-left: 215px;
  height: 480px;
  width: 920px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 25px;
}

/* On screens that are 390px wide or less */
@media screen and (max-width: 390px) {
  #mainDiv {
    margin-top: 10px;
    margin-left: 0px;
    height: auto;
    width: auto;
    display: block;
    background-color: white;
    border-top-right-radius: 25px;
border-top-left-radius: 25px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;



  }
}

#tipDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 380px;
}

@media screen and (max-width: 390px) {
  #tipDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
  }
}




#topBox, #bottomBox {
  display: flex;
  width: 320px;
}

@media screen and (max-width: 390px) {
  #topBox, #bottomBox {
    display: flex;
    width: auto;
  }
}





#topBoxTitles, #bottomBoxTitles {
  width: 110px;
  margin-bottom: 10px;
}

@media screen and (max-width: 390px) {
  #topBoxTitles, #bottomBoxTitles {
    width: auto;
    margin-bottom: 10px;
  }
}




#tipPerPerson, #totalPerPerson {
  text-align: right;
  color: #2cc3b0;
  font-size: 3rem;
  width: 210px;
}

@media screen and (max-width: 390px) {
  #tipPerPerson, #totalPerPerson {
    text-align: right;
    color: #2cc3b0;
    font-size: 3rem;
    width: auto;
  }
}



.totals {
  color: white;
  margin-bottom: 0;
}

.perPerson {
  color: #5C8D92;
  font-size: 0.8rem;
  margin-top: 0;
}

.tipbutton {
  height: 50px;
  width: 120px;
  margin: 5px 0;
  padding: 5px 0;
  background-color: #00474B;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 390px) {
  .tipbutton {
    height: 50px;
    width: 160px;
    margin: 5px 0;
    padding: 5px 0;
    background-color: #00474B;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
}


.tipbutton:hover, #reset:hover {
  background-color: #9FE8DF;
  cursor: pointer;
}

#customTip {
  width: 112px;
  margin: 5px 0;
  text-align: right;
  border-radius: 5px;
  text-align: center;
  border-style: solid;
}

@media screen and (max-width: 390px) {
  #customTip {
    width: 152px;
    margin: 5px 0;
    text-align: right;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
  }
}



.tipActive {
  background-color: #26C2AD;
}

#resultsDiv {
  width: 35%;
  color: white;
  background-color: #00474b;
  border-radius: 15px;
  margin: 30px;
  padding: 45px;
}

@media screen and (max-width: 390px) {
  #resultsDiv {
width: auto;
    color: white;
    background-color: #00474b;
    border-radius: 15px;
    margin: 30px;
    padding: 45px;
  }
}

#reset {
  background-color: #26C2AD;
  width: auto;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-top: 120px;
}

#noOfPeopleDiv {
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin-top: 20px;
  margin-bottom: 0px;
  height: 40px;
}

.input-icon {
  position: relative;
}

#cantBeZero {
  color: #B47C6D;
}

.input-icon>i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

#inputDiv {
  padding-top: 24px;
  padding-left: 45px;
  width: 480px;
}

@media screen and (max-width: 390px) {
  #inputDiv {
    padding-top: 24px;
    padding-left: 10px;
    width: auto;
  }
}
